* {
    font-family: 'Roboto';
    font-weight: 400;
}

/* header,
section,
footer {
    outline: solid green;
} */

/* li {
    outline: solid yellow;
} */

.container {
    /* outline: solid red; */
    width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: #012D63;
    padding-top: 30px;
}

.header-flex {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 100px;
    height: 60px;
}

.header-navigation {
    display: flex;
    margin-left: 152px;
}

.header-pages {
    display: flex;
    gap: 29px;
    padding-bottom: 38px;
}

.active-page {
    font-size: 24px;
    line-height: 1.17;
    color: #FFFFFF;
}

.header-page {
    font-size: 24px;
    line-height: 1.17;
    color: #C7C7C7;
    font-weight: 300;
}

.header-page:hover {
    font-size: 24px;
    line-height: 1.17;
    color: #FFFFFF;
}

.header-languages {
    display: flex;
    margin-left: auto;
    gap: 15px;
    padding-bottom: 38px;
}

.header-laguage {
    font-size: 24px;
    line-height: 1.17;
    color: #DCDCDC;
    font-weight: 300;
}

.header-laguage:hover {
    font-size: 24px;
    line-height: 1.17;
    color: #FFFFFF;
}

.active-laguage {
    font-size: 24px;
    line-height: 1.17;
    color: #FFFFFF;
}

.hero {
    background-image: url(../images/hero-bg.jpg);
    padding-bottom: 286px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-logo {
    width: 160px;
    height: 120px;
}

.hero-abr {
    font-family: 'PT Serif';
    font-size: 48px;
    line-height: 1.33;
    color: #FFFFFF;
}

.hero-title {
    font-family: 'Playfair Display';
    font-size: 144px;
    line-height: 192px;
    color: #FFFFFF;
}

.hero-subtitle {
    font-family: 'Playfair Display';
    font-size: 72px;
    line-height: 1.33;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.hero-description {
    font-size: 18px;
    line-height: 1.77;
    color: #FFFFFF;
    max-width: 508px;
    padding-bottom: 41px;
}

.hero-btn {
    font-size: 24px;
    line-height: 1.17;
    color: #FFFFFF;
    background-color: #8E32C6;
    padding: 20px 61px 19px;
    width: 254px;
    border-radius: 10px;
}

.advances {
    background-image: url(../images/advances-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 55px;
    padding-bottom: 80px;
}

.advances-list {
    display: flex;
    justify-content: space-between;
}

.advances-item {
    background-image: url(../images/advances-item-bg.svg);
    height: 470px;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
}

.advances-flex {
    display: flex;
    align-items: center;
}

.advances-number {
    font-family: 'Salsa';
    font-size: 170px;
    line-height: 1.22;
    color: #FFFFFF;
    margin-right: 18px;
}

.advances-title {
    font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 1.33;
    color: #FFFFFF;
    max-width: 160px;
}

.advances-img {
    width: 300px;
    height: 320px;
}

.characteristics {
    background-image: url(../images/characteristics-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 45px;
    padding-bottom: 82px;
}

.characteristics-flex {
    display: flex;
    justify-content: center;
}

.characteristics-img {
    width: 835px;
    height: 400px;
    margin-bottom: 38px;
}

.characteristics-text {
    font-family: 'Playfair Display';
    font-size: 28px;
    line-height: 1.32;
    color: #FFFFFF;
    margin-left: auto;
}

.characteristics-content {
    padding-left: 55px;
}

.characteristics-list {
    display: flex;
    padding: 26px 65px;
    background: linear-gradient(91.33deg, #8E32C6 15.44%, #D600C0 69.67%);
    border-radius: 15px;
    width: 715px;
    height: 85px;
    justify-content: space-between;
}

.characteristics-description {
    font-size: 28px;
    line-height: 1.17;
    color: #FFFFFF;
}

.reviews {
    background-image: url(../images/reviews-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 45px;
    padding-bottom: 70px;
}

.reviews-title {
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Playfair Display';
    margin-bottom: 42px;
}

.reviews-list {
    display: flex;
    justify-content: center;
    gap: 93px;
}

.reviews-item {
    width: 255px;
    padding: 49px 14px 29px;
}

.reviews-item:nth-child(1) {
    background: linear-gradient(136.55deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
    border-radius: 15px;
}

.reviews-item:nth-child(2) {
    background: linear-gradient(136.55deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
    border-radius: 15px
}

.reviews-item:nth-child(3) {
    background: linear-gradient(142.67deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
    border-radius: 15px;
}

.reviews-description {
    font-size: 24px;
    line-height: 1.17;
    color: #FFFFFF;
    max-width: 228px;
    margin-bottom: 8px;
}

.reviews-time {
    font-size: 14px;
    line-height: 1.14;
    color: #D8D8D8;
}

.reviews-flex {
    display: flex;
    padding-top: 47px;
}

.reviews-img {
    width: 31px;
    height: 31px;
    margin-right: 5px;
}

.reviews-flex1 {
    display: flex;
    flex-direction: column;
}

.reviews-name {
    font-size: 14px;
    line-height: 1.14;
    color: #FFFFFF;
    margin-bottom: 1px;
}

.reviews-text {
    font-size: 12px;
    line-height: 1.17;
    color: #D8D8D8;
}

.order {
    background-image: url(../images/order-bg.jpg);
    padding-top: 21px;
    padding-bottom: 39px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.order-title {
    font-size: 48px;
    line-height: 1.33;
    color: #FFFFFF;
    font-family: 'Playfair Display';
    text-align: center;
    margin-bottom: 33px;
}

.order-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
}

.order-item:first-child .order-input {
    width: 690px;
    height: 60px;
    padding: 11px 24px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 50px;
}

.order-item:not(:first-child) .order-input {
    width: 580px;
    height: 50px;
    padding: 11px 24px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 50px;
}

.order-input:nth-child(1)::placeholder {
    font-size: 28px;
    line-height: 1.18;
    color: #959595;
}

.order-input:nth-child(n+2)::placeholder {
    font-size: 24px;
    line-height: 1.17;
    color: #959595;
}

/* .order-btn {
    font-size: 28px;
    line-height: 1.18;
    color: #8D8D8D;
} */

.order-btn2 {
    font-size: 24px;
    line-height: 1.17;
    color: #FFFFFF;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    background: #8E32C6;
    border-radius: 16px;
    padding: 20px 49px;
}

.footer {
    background-color: #021635;
    padding-top: 45px;
    padding-bottom: 37px;
}

.footer-list {
    padding-bottom: 20px;
    gap: 10px;
}

.footer-item {
    display: flex;
    justify-content: space-between;
}

.footer-quation {
    font-size: 24px;
    line-height: 1.17;
    color: #FFFFFF;
}

.footer-mail {
    font-size: 24px;
    line-height: 28px;
    text-decoration: underline;
    color: #FFFFFF;
}

.footer-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #5E5E5E;
}

.footer-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-box1 {
    padding-right: 17px;
}

.footer-text {
    font-size: 18px;
    line-height: 1.17;
    color: #FFFFFF;
    max-width: 291px;
}

.footer-logo {
    width: 108px;
    height: 81px;
}

.footer-abr {
    font-family: 'PT Serif';
    font-size: 24px;
    line-height: 1.33;
    color: #FFFFFF;
}